<!DOCTYPE html>
<html>
<head>
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %}Sortie.com{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/bootstrap.css") }}">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
    {% endblock %}
    <link rel="icon" href="{{ asset("images/logo.png") }}" />
</head>
<body>
{% block menu %}
    <!--  Si utilisateur connecté -->
    {% if app.user %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('home') }}"><img src="images/logo.png" width="50" height="50"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sorties
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Créer une sortie</a>
                            <a class="dropdown-item" href="#">Voir les sorties</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Boutique
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Acheter un article</a>
                            <a class="dropdown-item" href="#">Vendre un article</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Question ? <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact<span class="sr-only"></span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Espace Partenaire</a>
                        </li>

                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bienvenue {{ app.user.nom }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('profil') }}">Profil</a>
                                <a class="dropdown-item" href="{{ path('animal') }}">Ajouter Animaux</a>
                                <a class="dropdown-item" href="{{ path('mesanimaux') }}">Mes Animaux</a>
                                <a class="dropdown-item" href="{{ path('deconnexion') }}">Déconnexion</a>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>
        {% else %}
            <!--  Si utilisateur non connecté -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ path('home') }}"><img src="images/logo.png" width="50" height="50"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sorties
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Créer une sortie</a>
                                <a class="dropdown-item" href="#">Voir les sorties</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Boutique
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Acheter un article</a>
                                <a class="dropdown-item" href="#">Vendre un article</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Question ? <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact<span class="sr-only"></span></a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Espace Partenaire</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#connexion" href="#">Connexion</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </nav>
    {% endif %}



    <div class="modal fade" id="connexion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form method="post" action="{{ path('connexion') }}">
                        <div class="form-group">
                            <label for="login">Mail:</label>
                            <input type="text" class="form-control" id="mail" name="_username">
                        </div>
                        <div class="form-group">
                            <label for="mdp">Mot de passe:</label>
                            <input type="password" class="form-control" id="mdp" name="_password">
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="remember" name="_remember_me">
                            <label class="custom-control-label" for="remember">Se souvenir de moi</label>
                        </div>
                        <a class="btn btn-link pl-4" href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Mot de passe oublié?</a>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

                        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group" role="group" aria-label="First group">
                                <button type="submit" class="btn btn-primary">Connexion</button>
                            </div>
                            <div class="input-group">
                                <a href="{{ path('inscription') }}"><button type="button" class="btn btn-primary">Inscription</button></a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
<div class="mt-5 container">
    {% block body %}{% endblock %}
</div>

</body>
</html>